h1{
    background-color: blueviolet;
    color: whitesmoke;
}

#iza{
    background-color: rgb(77, 199, 77);
    color: rgb(8, 85, 8);
}

h3{
    background-color: rgb(255, 61, 61);
    color: white;
}